h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.titulo{
    display: block;
    text-align: center;
}

#paragrafo{
    display: block;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    height: 350px;
    width: 550px;
}

.vermelho{
    color: red;
}

a{
    text-decoration: none;
    color: red;
}